<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="ttt.css">

<div class="container text-center">
	<div class="center">
		<h2 class="mb-3">What would you like to play today?</h2 class="mb-3">
		<a href="/tic-tac-toe" class="mr-5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4NwRl_NAwTctzjYphHO3EF6AYAnY_8L9K8eIZKXQkRSELwq_3"></a>
		<a href="/2048"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQC8Q69JfzmbrCVHY4HlzAzQC_EmB-yy7lOBeuufutOBOM4X-Qi"></a>
	</div>
</div>
<%- include("./partials/footer") %>