<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="ttt.css">

<div class="container">
	<div class="inner">
		<h1 class="h1"><strong>Tic Tac Toe</strong></h1>
		<table>
			<tr>
				<td class="box b1"></td>
				<td class="vertical box b2"></td>
				<td class="box b3"></td>
			</tr>

			<tr>
				<td class="horizontal box b4"></td>
				<td class="vertical horizontal box b5"></td>
				<td class="horizontal box b6"></td>
			</tr>

			<tr>
				<td class="box b7"></td>
				<td class="vertical box b8"></td>
				<td class="box b9"></td>
			</tr>
		</table>

		<p class="turn"></p>
		<h1 class="result"></h1>
		<div class="but">
			<button class="btn btn-info">Reset</button>
		</div>
	</div>
</div>



<script type="text/javascript" src="ttt.js"></script>
<%- include("./partials/footer") %>
