body {
	background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
	width: 400px;
	height: 400px;
	margin: 20px auto;
	background-color: white;
}

td {
	width: 90px;
	height: 90px;
	border: 10px solid rgb(169,169,169);
	text-align: center;
	
}

.sc {
	text-align: center;
	margin-top: 25px;
	color: green;
}

.message {
	display: inline-block;
	margin-left: 10%;
	margin-right: 10%;
	color: red;
	width: 200px;
}


.bot {
	width: 400px;
	margin: auto;
}

.f1 {
	font-size: 50px;
	background-color: #ffeb99;	
}
.f2 {
	font-size: 45px;	
	background-color: #ffe066;
}
.f3 {
	font-size: 40px;	
	background-color: #ffa64d;
}
.f4 {
	font-size: 35px;
	background-color: #ff4d4d;	
}
.f5 {
	font-size: 27px;	
	background-color: #b30000
}
.f6 {
	font-size: 22px;
	background-color: #ff33cc	;
}

.h {
	width: 300px;
	margin: 10px auto;
	text-align: center;
	font-size: 60px;
	color: red;
	box-shadow: 10px 10px 8px rgba(105,105,105,0.7);
}

.controls {
	width: 258px;
	text-align: center;
	margin: auto;
}

.large {
	font-size: 3em;
}

.container {
    position: relative;
    height: 100vh;
}

@media(max-width: 1000px) {
	.container {
		zoom: 150%;
		height: 66.67vh;
	}
}

.inner {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
}