 body {
	background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
	margin: 10px auto;
	background-color: white;
}

td {
	width: 70px;
	height: 70px;
	border: 7px solid rgb(169,169,169);
	text-align: center;
	
}

.sc {
	text-align: center;
	color: green;
}

.message {
	display: inline-block;
	color: red;
	width: 140px;
}

.bot {
	width: 100%;
	max-width: 300px;
	margin: auto;
}

.f1 {
	font-size: 40px;
	background-color: #ffeb99;	
}
.f2 {
	font-size: 35px;	
	background-color: #ffe066;
}
.f3 {
	font-size: 30px;	
	background-color: #ffa64d;
}
.f4 {
	font-size: 25px;
	background-color: #ff4d4d;	
}
.f5 {
	font-size: 17px;	
	background-color: #b30000
}
.f6 {
	font-size: 12px;
	background-color: #ff33cc	;
}

.controls {
	width: 200px;
	text-align: center;
	margin: auto;
}

.large {
	font-size: 200%;
}